<header id="cabecalho" class="cabecalho">
    <div class="container cabecalho-conteudo">
        <!-- Logo - Clicar vai para pagina principal -->
         <!-- href={home.hero} -->
         <!-- href={route(home.hero)} -->
         <a href="#hero" class="logo">
            Fulano de Tal
         </a>
        <!-- Menu de navegação -->
         <nav class="menu" id="menu">
            <!-- a = link -->
             <a href="#hero">Inicio</a>
             <a href="#beneficios">Beneficios</a>
             <a href="#sobre">Sobre</a>
             <a href="#cta">Serviços</a>
             <a href="#contato">Contato</a>            
         </nav>
    </div>
</header>